.main {
  flex: 1;

  width: 90%;
  max-width: 1400px;
  margin: auto;
  margin-top: 72px;

  .cardContainer {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
  }
}
